.toolBar-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.colors-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

#eraser {
  background-color: rgb(72, 114, 231);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

#eraser:active {
  transform: translateY(2px);
}

.color-picker {
}
